.coop-section__header {
    color: white;
    background-image: url("../../../../public/assets/images/cooperation/header-background_1920.jpg");
}

@media (max-width: 1280px) {
    .coop-section__header {
        background-image: url("../../../../public/assets/images/cooperation/header-background_1280.jpg");
    }
}

@media (max-width: 1000px) {
    .coop-section__header {
        background-image: url("../../../../public/assets/images/cooperation/header-background_1000.jpg");
    }
}

@media (max-width: 768px) {
    .coop-section__header {
        background-image: url("../../../../public/assets/images/cooperation/header-background_768.jpg");
    }
}

@media (max-width: 480px) {
    .coop-section__header {
        background-image: url("../../../../public/assets/images/cooperation/header-background_480.jpg");
    }
}

@media (max-width: 360px) {
    .coop-section__header {
        background-image: url("../../../../public/assets/images/cooperation/header-background_360.jpg");
    }
}