.contacts__header {
    color: white;
    background-image: url("../../../public/assets/images/contacts/background_1920.jpg");
}

@media (max-width: 1280px) {
    .contacts__header {
        background-image: url("../../../public/assets/images/contacts/background_1280.jpg");
    }
}

@media (max-width: 1000px) {
    .contacts__header {
        background-image: url("../../../public/assets/images/contacts/background_1000.jpg");
    }
}

@media (max-width: 768px) {
    .contacts__header {
        background-image: url("../../../public/assets/images/contacts/background_768.jpg");
    }
}

@media (max-width: 480px) {
    .contacts__header {
        background-image: url("../../../public/assets/images/contacts/background_480.jpg");
    }
}

@media (max-width: 360px) {
    .contacts__header {
        background-image: url("../../../public/assets/images/contacts/background_360.jpg");
    }
}

.contacts__warehouse {
    color: #464E4C;

    & > * {

        &:not(:last-child) {
            margin: 0 0 8px;
        }

        @media (max-width: 1140px) {
            &:not(:last-child) {
                margin: 0 0 4px;
            }
        }

        @media (max-width: 745px) {
            &:not(:last-child) {
                margin: 0;
            }
        }
    }

    .contacts__warehouse__title {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 29/24 * 100%;
    }

    @media (max-width: 1140px) {
        .contacts__warehouse__title {
            font-size: 2rem;
        }
    }

    @media (max-width: 745px) {
        .contacts__warehouse__title {
            font-size: 2.4rem;
        }
    }

    .contacts__warehouse__address {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 20/16 * 100%;
    }

    .contacts__warehouse__data {

        .contacts__warehouse__data__title {
            font-size: 2rem;
            font-weight: 700;
            line-height: 100%;
            margin: 0 0 9px;
        }

        @media (max-width: 1140px) {
            .contacts__warehouse__data__title {
                margin: 0 0 4px;
            }
        }
        
        @media (max-width: 909px) {
            .contacts__warehouse__data__title {
                font-size: 1.8rem;
                margin: 0 0 9px;
            }
        }

        @media (max-width: 745px) {
            .contacts__warehouse__data__title {
                font-size: 2rem;
            }
        }

        .contacts__warehouse__data__links {
            display: flex;
            column-gap: 18px;

            .contacts__warehouse__data__item {
                color: #004290;
                font-size: 1.6rem;
                line-height: 125%;
                padding: 0 0 0 26px;
                background-position: left center;
                background-repeat: no-repeat;
                
                &.contacts__warehouse__phone {
                    background-image: url("../../../public/assets/images/contacts/phone.svg");
                } 

                &.contacts__warehouse__email {
                    background-image: url("../../../public/assets/images/contacts/email.svg");
                }
            }

            @media (max-width: 745px) {
                .contacts__warehouse__data__item {
                    margin: 0 auto;
                    text-align: start;
                }
            }
        }

        @media (max-width: 1140px) {
            .contacts__warehouse__data__links {
                flex-direction: column;
                row-gap: 4px;
            } 
        }
    }

    &.contacts__warehouse_central {
        max-width: 314px;

        & > * {
            margin: 0 0 12px;
        }

        @media (min-width: 361px) and (max-width: 1140px) {
            & > * {
                margin: 0 0 4px;
            }
        }

        .contacts__warehouse__title {
            font-size: 2.8rem;
            line-height: 34/28 * 100%;
        }

        @media (min-width: 746px) and (max-width: 1140px) {
            .contacts__warehouse__title {
                font-size: 2.4rem;
            }
        }

        .contacts__warehouse__address {
            font-size: 2.4rem;
            line-height: 29/24 * 100%;
        }

        @media (min-width: 746px) and (max-width: 1140px) {
            .contacts__warehouse__address {
                font-size: 2rem;
            }
        }

        .contacts__warehouse__data {

            .contacts__warehouse__data__title {
                font-size: 2.8rem;
                line-height: 29/28 * 100%;
                margin: 0 0 12px;
            }

            @media (min-width: 746px) and (max-width: 1140px) {
                .contacts__warehouse__data__title {
                    font-size: 2.4rem;
                    margin: 0 0 7px;
                }
            }

            .contacts__warehouse__data__links {
                flex-direction: column;
                row-gap: 4px;

                .contacts__warehouse__data__item {
                    font-size: 2.4rem;
                    line-height: 29/24 * 100%;
                    padding: 0 0 0 33px;
                }

                @media (min-width: 746px) and (max-width: 1140px) {
                    .contacts__warehouse__data__item {
                        font-size: 1.8rem;
                    }
                }
            }

            @media (min-width: 361px) and (max-width: 909px) {
                .contacts__warehouse__data__links {
                    row-gap: 9px;
                }
            }
        }
    }

    @media (max-width: 1140px) {
        .contacts__warehouse_central {
            max-width: 244px;
        }
    }

    @media (max-width: 745px) {
        .contacts__warehouse_central {
            max-width: 314px;
        }
    }
}

@media (max-width: 745px) {
    .contacts__warehouse {
        text-align: center;
    }
}

.contacts__main {
    padding: 80px 0;
    background-image: url("../../../public/assets/images/contacts/background.jpg");

    .contacts__undertitle {
        margin: 0 0 15px;
    }

    @media (max-width: 745px) {
        .contacts__undertitle {
            margin: 0 0 5px;
        }
    }

    .contacts__title-block {
        display: flex;
        align-items: center;
        column-gap: 166px;
        margin: 0 0 21px;

        .contacts__title {
        }

        @media (max-width: 1140px) {
            .contacts__title {
                font-size: 5.8rem;
            }
        }

        @media (max-width: 968px) {
            .contacts__title {
                font-size: 4.8rem;
            }
        }

        @media (max-width: 745px) {
            .contacts__title {
                font-size: 3.6rem;
            }
        }

        @media (max-width: 360px) {
            .contacts__title {
                font-size: 2.8rem;
            }
        }

        .contacts__title-block__gratitude {
            color: #464E4C;
            font-size: 2rem;
            line-height: 120%;
            max-width: 520px;
        }

        @media (max-width: 1140px) {
            .contacts__title-block__gratitude {
                font-size: 1.6rem;
                max-width: 431px;
            }
        }

        @media (max-width: 892px) {
            .contacts__title-block__gratitude {
                font-size: 1.2rem;
                max-width: 306px;
            }
        }

        @media (max-width: 745px) {
            .contacts__title-block__gratitude {
                font-size: 1.4rem;
                max-width: 348px;
            }
        }

        @media (max-width: 360px) {
            .contacts__title-block__gratitude {
                font-size: 1.2rem;
                max-width: 247px;
            }
        }
    }

    @media (max-width: 1280px) {
        .contacts__title-block {
            column-gap: 8.4%;
        } 
    }

    @media (max-width: 1140px) {
        .contacts__title-block {
            column-gap: 58px;
            margin: 0 0 34px;
        } 
    }

    @media (max-width: 768px) {
        .contacts__title-block {
            column-gap: 36px;
            margin: 0 0 16px;
        } 
    }

    @media (max-width: 745px) {
        .contacts__title-block {
            flex-direction: column;
            row-gap: 2px;
            align-items: flex-start;
        } 
    }

    hr {
        width: 100%;
        height: 1px;
        background-color: #B8B8B8;
        margin: 0 0 64px
    }

    @media (max-width: 1280px) {
        hr {
            margin: 0 0 48px;
        }
    }

    @media (max-width: 909px) {
        hr {
            margin: 0 0 38px;
        }
    }

    @media (max-width: 745px) {
        hr {
            margin: 0 0 30px;
        }
    }

    .contacts__warhses {
        display: flex;
        column-gap: 90px;
        align-items: flex-start;
        margin: 0 0 53px;

        .contacts__secondary {
            display: flex;
            flex-wrap: wrap;
            column-gap: 88px;
            row-gap: 13px;
        }
        
        @media (max-width: 1280px) {
            .contacts__secondary {
                column-gap: 2.1%;
            }
        }

        @media (max-width: 1140px) {
            .contacts__secondary {
                column-gap: 22px;
            }
        }

        @media (max-width: 909px) {
            .contacts__secondary {
                flex-direction: column;
                row-gap: 10px;
            }
        }

        @media (max-width: 745px) {
            .contacts__secondary {
                row-gap: 20px;
            }
        }
    }

    @media (max-width: 1280px) {
        .contacts__warhses {
            column-gap: 4.3%;
            margin: 0 0 39px;
        }
    }

    @media (max-width: 909px) {
        .contacts__warhses {
            column-gap: 19%;
            justify-content: center;
            margin: 0 0 27px;
        }
    }

    @media (max-width: 745px) {
        .contacts__warhses {
            flex-direction: column;
            row-gap: 20px;
            align-items: center;
        }
    }
}

@media (max-width: 1280px) {
    .contacts__main {
        padding: 37px 0 48px;
    }
}

@media (max-width: 745px) {
    .contacts__main {
        padding: 24px 0 26px;
    }
}

@media (max-width: 360px) {
    .contacts__main {
        padding: 20px 0 48px;
    }
}




.contacts__map-block {
    height: 513px;
    position: relative;

    .contacts__map {
        
        iframe {
            height: 513px;
            width: 100%;
        }

        @media (max-width: 768px) {
            iframe {
                height: 400px;
            }
        }
    }

    .contacts__warehouse_central { 
        position: absolute;
        z-index: 1;
        top: 21%;
        left: 13%;
        max-width: 394px;
        padding: 45px 40px 45px 42px;
        background-color: white;
        border: 1px solid #B8B8B8;

        .contacts__warehouse__data__item {
        }

        @media (max-width: 339px) {
            .contacts__warehouse__data__item {
                font-size: 1.8rem !important;
            } 
        }
    }

    @media (max-width: 1649px) {
        .contacts__warehouse_central {
            left: 10%;
        }
    }

    @media (max-width: 1534px) {
        .contacts__warehouse_central {
            left: 8%;
        }
    }

    @media (max-width: 1449px) {
        .contacts__warehouse_central {
            left: 1%;
        }
    }

    @media (max-width: 745px) {
        .contacts__warehouse_central {
            top: 16%;
        }
    }

    @media (max-width: 480px) {
        .contacts__warehouse_central {
            position: unset;
            width: 100%;
            max-width: unset;
            border-left: none;
            border-right: none;
        }
    }

    @media (max-width: 399px) {
        .contacts__warehouse_central {
            padding: 26px 10px;
        } 
    }
}

@media (max-width: 768px) {
    .contacts__map-block {
        height: 400px;
    }  
}

@media (max-width: 480px) {
    .contacts__map-block {
        height: 572px;
        display: flex;
        flex-direction: column-reverse;
    }  
}