.main__about-company {
    padding: 186px 0 265px;
    background-image: url("../../../../public/assets/images/main/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .about__company__container {
        max-width: 1285px;
    }

    .main__about-company__title {
        margin: 0 0 35px;
    }

    .main__about-company__body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .main__about-company__image {
            width: 523/1280 * 100%;
            aspect-ratio: 523/487;
            background-image: url("../../../../public/assets/images/main/office.jpg");
            background-repeat: no-repeat;
            background-size: contain;
        }
        
        @media (max-width: 1280px) {
            .main__about-company__image {
                width: 520/1280 * 100vw;
                height: 432/1280 * 100vw;
                max-width: 520px;
            }
        }

        @media (max-width: 1000px) {
            .main__about-company__image {
                width: 484/975 * 100%;
                aspect-ratio: 484/399;
            }
        }
        
        @media (max-width: 768px) {
            .main__about-company__image {
                width: 707/768 * 100vw;
                aspect-ratio: 707/313;
                background-size: cover;
            }
        }

        .main-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .main__right__description {
                margin: 0 0 48px;
                max-width: 594px;
            }

            @media (max-width: 768px) {
                .main__right__description {
                    margin: 0 0 36px;
                } 
            }

            @media (max-width: 459px) {
                .main__right__description {
                    max-width: 287px;
                }
            }

            .main__right__text {
                padding: 20px 35px 16px;
                background-color: white;
                margin: 0 0 46px;
                max-width: 712px;

                .text {
                    &:not(:last-child) {
                        margin: 0 0 24px;
                    }
                }
            }

            @media (max-width: 768px) {
                .main__right__text {
                    margin: 0 0 0;

                }
            }

            @media (max-width: 459px) {
                .main__right__text {
                    max-width: 328px;
                    padding: 16px;
                }
            }

            .main__right__buttons {
                display: flex;
                column-gap: 46px;

                .main__right__button {

                    &:first-child {
                        width: 180px;
                    }

                    &:last-child {
                        width: 200px;
                    }
                }
            }

            @media (max-width: 768px) {
                .main__right__buttons {
                    width: 100%;
                    background-color: white;
                    justify-content: center;
                    padding: 32px 0 26px;
                }
            }

            @media (max-width: 459px) {
                .main__right__buttons {
                    max-width: 328px;
                    padding: 0 8px 16px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .main__about-company__body {
            flex-direction: column;
            row-gap: 20px;
        }
    }
}

@media (max-width: 1280px) {
    .main__about-company {
        padding: 15vw 0 21vw;
    } 
}